body {
    font: 100%/1.2 Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

div {    
    text-align: center;
}

#validar_div{
    text-align: center;

}
button {
    width: 200px;
    height: 50px;
    background-color: lightblue;    
}

#validar_button {
    width: 200px;
    height: 50px;   
    background-color: lightgreen;
}